h1
{
        text-align: center;
	color: red;
}

p
{
        font-family: Verdana;
        font-style: italic;
        color: red;
}      

body
{
        background-color: #d6d6d6;
}

.flotte {
float:right;
}


h3
{
		text-align: left;
		color: black;
}
h2
{
color: red;	
}

a:active
{
    background-color: #06b1ea;
	color: black;
}

.btn
{
  color: gray;
}

.button {
  background-color: #000000;
  border: none;
  color: white;
  padding: 16px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.buttonnb {
  background-color: white;
  color: black;
  border: 2px solid #000000;
}

.buttonnb:hover {
  background-color: #000000;
  color: white;
}

.buttonautre {
  background-color: white;
  color: #ff3300;
  border: 2px solid #ff3300;
}

.buttonautre:hover {
  background-color: #ff3300;
  color: white;
}

.buttonaffiche {
  font-size: 16px 40px;
  background-color: white;
  color: black;
  border: 2px solid #000000;
  width: 160px;
}

.buttonlienjava {
  display: inline-block;
  border-radius: 12px;
  background-color: #ff0000;
  border: none;
  color: #ffffff;
  text-align: center;
  text-size-adjust: 5;
  font-size: 28px;
  padding: 5px;
  width: 125px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.buttonlienjava span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonlienjava span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonlienjava:hover span {
  padding-right: 25px;
}

.buttonlienjava:hover span:after {
  opacity: 1;
  right: 0;
}

.buttonlienjs {
  display: inline-block;
  border-radius: 12px;
  background-color: #F7DF1E;
  border: none;
  color: #ffffff;
  text-align: center;
  text-size-adjust: 5;
  font-size: 28px;
  padding: 5px;
  width: 125px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.buttonlienjs span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonlienjs span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonlienjs:hover span {
  padding-right: 25px;
}

.buttonlienjs:hover span:after {
  opacity: 1;
  right: 0;
}

.buttonliencalc {
  display: inline-block;
  border-radius: 12px;
  background-color: #000000;
  border: none;
  color: #ffffff;
  text-align: center;
  text-size-adjust: 5;
  font-size: 28px;
  padding: 5px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.buttonliencalc span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonliencalc span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonliencalc:hover span {
  padding-right: 25px;
}

.buttonliencalc:hover span:after {
  opacity: 1;
  right: 0;
}


.buttonlienindex {
  display: inline-block;
  border-radius: 12px;
  background-color: #000000;
  border: none;
  color: #ffffff;
  text-align: center;
  text-size-adjust: 5;
  font-size: 28px;
  padding: 5px;
  width: 125px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.buttonlienindex span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonlienindex span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonlienindex:hover span {
  padding-right: 25px;
}

.buttonlienindex:hover span:after {
  opacity: 1;
  right: 0;
}